/*LOGIN - REGISTER PAGE CSS*/

.login-register-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.login-register-form {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 20px 50px;
  min-width: 700px;
  min-height: 300px;
}
